{{ 'template-hero.css' | asset_url | stylesheet_tag }}

{% liquid
  assign hero_heading = section.settings.hero_heading
  assign hero_subheading = section.settings.hero_subheading
  assign hero_block = section.blocks | where: 'type', 'hero_block'
  assign hero_button_text = section.settings.hero_button_text
  assign hero_button_url = section.settings.hero_button_url
  assign hero_image = section.settings.hero_image
  assign hero_logo = section.settings.hero_logo
%}

<section class="hero-section bg-dark">
  <div class="hero-wrapper">
    <div class="hero-text__wrapper">

      {% if hero_heading != blank %}
        <h1 class="hero-heading white-text uppercase">
          {{ hero_heading }}
        </h1>
      {% endif %}

      {% if hero_subheading != blank %}
        <p class="hero-subheading white-text uppercase">{{ hero_subheading }}</p>
      {% endif %}

      {% if hero_block.size > 0 %}
        <div class="hero-block">
          {% for block in hero_block %}
            {% assign block_text = block.settings.block_text %}
            <div class="hero-block__item">
              {% if block_text != '' %}
                <div class="hero-block__item-wrapper">
                  <div class="hero-block__item-copy white-text">
                    {% render 'hero-tick' %}
                    {{ block_text }}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if hero_button_text != blank %}
        <div class="hero-btn__wrapper">
          <a href="{{ hero_button_url }}" class="bg-red white-text hero-btn">{{ hero_button_text }}</a>
        </div>
      {% else %}
        <p class="white-text uppercase">OVO NIJE BUTTON</p>
      {% endif %}
    </div>

    <div class="hero-img__wrapper">
      {% if hero_image != blank %}
        <figure class="hero-image__figure">
          <img
            src="{{ hero_image | img_url: 'master' }}"
            alt="Hero Image"
            class="hero-image">
        </figure>
      {% endif %}
      {% if hero_logo != blank %}
        <figure class="hero-logo__figure">
          <img
            src="{{ hero_logo | img_url: 'master' }}"
            alt="Hero logo"
            class="hero-logo">
        </figure>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "text",
        "id": "hero_heading",
        "label": "Hero Heading",
        "default": "The Date Night Activity for (True Crime) Lovers"
      },
      {
        "type": "text",
        "id": "hero_subheading",
        "label": "Hero Subheading",
        "default": "Hunt A Killer: an immersive murder mystery game that’ll keep you and your partner off your phones and cracking cases instead."
      },
      {
        "type": "text",
        "id": "hero_button_text",
        "label": "Button text",
        "default": "Join the hunt"
      },
      {
        "type": "url",
        "id": "hero_button_url",
        "label": "Button link"
      }, {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero main image"
      }, {
        "type": "image_picker",
        "id": "hero_logo",
        "label": "Hero logo"
      }
    ],
    "blocks": [
      {
        "type": "hero_block",
        "name": "Copy Block",
        "settings": [
          {
            "type": "text",
            "id": "block_text",
            "label": "Block Text",
            "default": "Block Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Section"
      }
    ]
  }
{% endschema %}